    <!-- About Section -->
    <section id="om" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Dette er da meg</h2>
                <ul>
                    <li>Alder : Mellom 18 og grava :-)</li>
                    <li>Bosted : Oslo</li>
                    <li>Favoritter :
                        <ul>
                            <li>Filmer : <br />
                                <a href="http://www.imdb.com/title/tt0099423/">Die Hard 2</a><br />
                                <a href="http://www.imdb.com/title/tt0082971/">Raiders of the Lost Ark</a><br />
                                <a href="http://www.imdb.com/title/tt0086190/">Star Wars: Episode VI - Return of the Jedi</a><br />
                                <a href="http://www.imdb.com/title/tt0117500/">The Rock</a><br />
                            </li>
                            <li>TV-serier : <br />
                                <a href="http://www.imdb.com/title/tt1728102/">Alcatraz</a><br />
                                <a href="http://www.imdb.com/title/tt0460627/">Bones</a><br />
                                <a href="http://www.imdb.com/title/tt0452046/">Criminal Minds</a><br />
                                <a href="http://www.imdb.com/title/tt2191671/">Elementary</a><br />
                                <a href="http://www.imdb.com/title/tt0796264/">Eureka</a><br />
                                <a href="http://www.imdb.com/title/tt1119644/">Fringe</a><br />
                                <a href="http://www.imdb.com/title/tt3322312/">Marvel's Daredevil</a><br />
                                <a href="http://www.imdb.com/title/tt1475582/">Sherlock</a><br />
                                <a href="http://www.imdb.com/title/tt0898266/">The Big Bang Theory</a><br />
                                <a href="http://www.imdb.com/title/tt1870479/">The Newsroom</a><br />
                                <a href="http://www.imdb.com/title/tt0200276/">The West Wing</a><br />
                                <a href="http://www.imdb.com/title/tt1628033/">Top Gear</a><br />
                            </li>
                            <li>Mat : <br />
                                <a href="">Lasange</a><br />
                                <a href="">Taco</a><br />
                                <a href="">Hamurger</a><br />
                            </li>
                            <li>Drikke : <br />
                                Iste<br />
                                Coca-Cola<br />
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>