    <!-- Download Section -->
    <section id="utstyr" class="content-section text-center">
        <div class="utstyr-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Dette er hva jeg bruker</h2>
                    <table>
                    <tr>
                        <th class="header" colspan="3">PC utstyr</th>
                    </tr>
                    <tr>
                        <th>Kabinett</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td><a href="http://www.fractal-design.com/home/product/cases/define-series/define-r4-black-pearl">Fractal Design DEFINE R4 Black Pearl</a></td>
                    </tr>

                    <tr>
                        <th>Skjermkort</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td><a href="https://www.asus.com/Graphics-Cards/STRIXGTX980DC2OC4GD5/">Asus GeForce STRIX GTX 980</a></td>
                    </tr>

                    <tr>
                        <th>CPU</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td><a href="http://ark.intel.com/products/80807/Intel-Core-i7-4790K-Processor-8M-Cache-up-to-4_40-GHz">Intel Core i7-4790K]</a></td>
                    </tr>

                    <tr>
                        <th>CPU Kjøler</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td><a href="http://www.corsair.com/en/hydro-series-h100i-extreme-performance-liquid-cpu-cooler">Corsair Hydro H100i</a></td>
                    </tr>

                    <tr>
                        <th>Minne</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td><a href="http://www.crucial.com/usa/en/memory-ballistix-sport">Crucial DDR3 BallistiX Sport 16GB</a></td>
                    </tr>

                    <tr>
                        <th>Hovedkort</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td><a href="http://www.gigabyte.com/products/product-page.aspx?pid=4481">Gigabyte GA-Z87X-UD3H</a></td>
                    </tr>

                    <tr>
                        <th>Harddisker</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td><a href="http://www.samsung.com/global/business/semiconductor/minisite/SSD/global/html/ssd850evo/overview.html">Samsung 850 EVO 250GB SSD (OS)</a> <br />
                            2 TB (Games) <br />
                            3 TB (Capture)
                        </td>
                    </tr>

                    <tr>
                        <th>Strømforsyner</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td><a href="http://www.corsair.com/en/cs-series-modular-cs750m-750-watt-80-plus-gold-certified-psu">Corsair CS750M</a></td>
                    </tr>

                    <tr>
                        <th>Mus</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td>Logitech G500s</td>
                    </tr>

                    <tr>
                        <th>Tastatur</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td><a href="http://gaming.coolermaster.com/en/products/keyboards/rapid-i/">CM Storm QuickFire Rapid-i (Brown)</a></td>
                    </tr>

                    <tr>
                        <th>Kontrollere</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td><a href="http://gaming.logitech.com/en-us/product/g27-racing-wheel">Logitech G27 Racing Wheel</a> <br />
                            <a href="http://www.ek.com/uk/prod/x55.html">Saitek X55</a> <br />
                            <a href="http://www.microsoft.com/hardware/en-ph/p/xbox-360-controller-for-windows">Microsoft Xbox 360 Controller</a>
                        </td>
                    </tr>

                    <tr>
                        <th>Skjermer</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td>3 x <a href="http://accessories.us.dell.com/sna/productdetail.aspx?c=us&l=en&cs=19&sku=860-BBCG">Dell UltraSharp U2414H</a></td>
                    </tr>
                    <tr>
                        <th class="header" colspan="3">Lyd utstyr</th>
                    </tr>
                    <tr>
                        <th>Lydkort</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td><a href="http://us.creative.com/p/sound-blaster/sound-blaster-digital-music-premium-hd">Sound Blaster X-FI HD USB</a></td>
                    </tr>

                    <tr>
                        <th>Hodetelefoner</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td><a href="http://europe.beyerdynamic.com/shop/hah/headphones-and-headsets/gaming/mmx-300.html">Beyerdynamic MMX 300</a></td>
                    </tr>

                    <tr>
                        <th>Mixer</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td><a href="http://www.behringer.com/EN/Products/QX1202USB.aspx">Behringer XENYX QX1202USB</a></td>
                    </tr>

                    <tr>
                        <th>Mic preamp</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td><a href="http://www.behringer.com/EN/Products/MIC800.aspx">Behringer MINIMIC MIC800</a></td>
                    </tr>

                    <tr>
                        <th>Monitor</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td><a href="http://www.behringer.com/EN/Products/MA400.aspx">Behringer MICROMON MA400</a></td>
                    </tr>

                    <tr>
                        <th>Mic</th>
                        <td>&nbsp;:&nbsp;</td>
                        <td><a href="http://en-us.sennheiser.com/live-performance-microphone-vocal-stage-e-835">Sennheiser e 835</a></td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>